<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.photos.mapper.LoginMapper">
    <select id="checkUser" resultType="com.alibaba.fastjson.JSONObject">
        SELECT *
        FROM t_user
        WHERE t_user.user_id=#{user_id} AND t_user.user_password=#{user_password};
    </select>
</mapper>